/* src/styles/features/components/components-ui-profile-stack.css */

@layer components {
  .section-stack {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
  }

  .stack-sm {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
  }

  .stack-md {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
  }

  .stack-lg {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
  }

}
