/* src/styles/globals.css */
@config "../../tailwind.config.ts";
@import 'tailwindcss';
@import './themes.css';
@import './base.css';
@import './components.css';
@import './home.css';
@import './overlays.css';
